<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
<ion-buttons slot="start" >
    <ion-menu-button
    color="danger"
    menu="primerMenu"
    > </ion-menu-button>
</ion-buttons>
<img slot="start"  routerLink="/home" src="../../assets/imgs/logoiiee.png" width="300" height="70"/>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="fondo">

    <div class="center-content-container">
        <div class="content-container">
            <h1  class="content">ADMINISTRADOR</h1>
        </div>
      </div>
        <ion-grid>
          <!--  LISTA DE TAREAS -->
          <ion-row class="ion-justify-content-end">
              <ion-col size="5">
                  <ion-button color="secondary" (click)="AddTarea()">
                      Añadir Tarea
                  </ion-button>
              </ion-col>
              <ion-col size="5">
                <ion-button color="secondary" (click)="AddSlide()">
                    Añadir Slide
                </ion-button>
            </ion-col>
          </ion-row>

          <ion-label class="tituloTarea"> TAREAS:</ion-label>
            <ion-row *ngFor="let tarea of tareas" >
                <ion-col >
                    <ion-label>
                       {{tarea.area}}
                    </ion-label>
                </ion-col>

                <ion-col> 
                    <ion-label>
                        {{tarea.nombre}}
                    </ion-label>
                </ion-col>

                <ion-col> 
                    <ion-label>
                    {{tarea.apellido}}
                    </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label>
                  {{tarea.tarea}}
                  </ion-label>
                </ion-col>
                <ion-col>
                <ion-button color="primary">
                      <ion-button color="secondary" (click)="edit(tarea)">
                          <ion-icon  name="create"></ion-icon>
                      </ion-button>
                      <ion-button color="secondary" (click)="delete(tarea)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                      </ion-button>
                </ion-button>
                </ion-col>
            </ion-row>
             <!-- FIN  LISTA DE TAREAS -->



            <!-- LISTA DE SLIDEEE -->
            <ion-label class="tituloTarea"> SLIDE:</ion-label>
            <ion-row *ngFor="let slides of slide" >
                <ion-col >
                    <ion-label>
                       {{slides.titulo}}
                    </ion-label>
                </ion-col>

                <ion-col> 
                    <ion-label>
                      {{slides.img}}
                    </ion-label>
                </ion-col>

                <ion-col> 
                    <ion-label>
                      {{slides.valor}}
                    </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label>
                    {{slides.tiempo}}
                  </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label>
                    {{slides.url}}
                  </ion-label>
                </ion-col>
                <ion-col>
                <ion-button>
                      <ion-button color="secondary" (click)="editSlide(slides)">
                          <ion-icon color="danger"   name="create"></ion-icon>
                      </ion-button>
                      <ion-button color="secondary" (click)="deleteSlide(slides)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                      </ion-button>
                </ion-button>
                </ion-col>
            </ion-row>
          
          

            <!-- FIN SLIDEEE -->
 
            <!-- AÑADIR TAREAS -->
              <ion-row>
                <ion-col *ngIf="nuevaTarea">
                <ion-list>
                  <ion-item>
                    <ion-select [(ngModel)]="nuevaTarea.area" okText="Aceptar" cancelText="Cancelar" placeholder="Seleccionar equipo">
                      <ion-select-option *ngFor="let area of Equiposiiee" [value]="area">{{area}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>

               
                  <ion-item>
                    <ion-label position="floating">
                      Nombre
                    </ion-label>
                    <ion-input [(ngModel)]="nuevaTarea.nombre"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">
                      Apellido
                    </ion-label>
                    <ion-input [(ngModel)]="nuevaTarea.apellido"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">
                      Tarea
                    </ion-label>
                    <ion-input [(ngModel)]="nuevaTarea.tarea"></ion-input>
                  </ion-item>
                  <ion-button (click)="saveTarea()" expand="full">Guardar</ion-button>
                </ion-col>
              </ion-row>
              <!-- FIN AÑADIR TAREAS -->



              <!-- AÑADIR SLIDE -->
              <ion-row>
                <ion-col *ngIf="nuevoSlide">
            <ion-item>
                    <ion-label position="floating">
                      Titulo
                    </ion-label>
                    <ion-input [(ngModel)]="nuevoSlide.titulo"></ion-input>
                  </ion-item>
            <ion-item>
              
              <ion-label >
                Imagen
              </ion-label>
              <ion-buttons slot="end">
                <ion-button >
                        <ion-icon  for="file-upload" slot="end" name="images"></ion-icon>
                        <ion-input (change)="openImage($event)"  [(ngModel)]="nuevoSlide.img" id="file-upload" type="file" accept="image/*"></ion-input>
                    <!-- <ion-input [(ngModel)]="nuevoSlide.img"></ion-input> -->
                      </ion-button>
                  </ion-buttons>
            </ion-item>
            <ion-item>
                    <ion-label position="floating">
                      Valor
                    </ion-label>
                    <ion-input [(ngModel)]="nuevoSlide.valor"></ion-input>
                  </ion-item>
            <ion-item>
                    <ion-label position="floating">
                      Tiempo
                    </ion-label>
                    <ion-input [(ngModel)]="nuevoSlide.tiempo"></ion-input>
            </ion-item>
            <ion-item>
                    <ion-label position="floating">
                      Url
                    </ion-label>
                    <ion-input [(ngModel)]="nuevoSlide.url"></ion-input>
            </ion-item>
                  <ion-button (click)="saveSlide()" expand="full">Guardar</ion-button>
                </ion-col>
              </ion-row>
              <!-- Fin añadir slide -->
 

        </ion-grid>
      </div>

</ion-content>
