.grid1 {
    height: 100%;
    padding: 0px;
}

.contaier-login {
    width: 90%;
    padding: 10px;
    background: #e93e24;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    margin-top: 40%;
}


.row1 {
    height: 50%;
    background: -moz-linear-gradient(45deg, rgb(222, 111, 20) 0%, rgba(225, 140, 20, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgb(200, 116, 7) 0%, rgba(204, 100, 8, 0.8) 100%);
    background: linear-gradient(45deg, rgb(209, 93, 16) 0%, rgba(196, 91, 12, 0.8) 100%);

    
}
.contt{
    height: 50%;
    width: 90%;
}
.titulo{
    height: 50%;
    color:  #000;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    
}
.row2 {
    height: 50%;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}



.full-page-width {
    width: 100%;
    overflow: hidden;
    background-color:rgb(250, 74, 21);
    height: 500px;
}

.content-container {
    width:100%;
    
    background-color:rgba(48, 48, 48, 0.399);
    margin: 0 auto;
    padding: 5px;
}
.content {
    width:100%;
    height: 100px;
    background-color:#ca8875fb;
    text-align:center;
    font-family: 'helva';
    font-size: large;
    color: rgb(248, 231, 231);
    }