<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>

<ion-buttons slot="start" >
    <ion-menu-button
    color="success"
    menu="primerMenu"
    > </ion-menu-button>
</ion-buttons>
<img slot="start"  routerLink="/home" src="../../../assets/imgs/logoiiee.png" width="300" height="70"/>
<ion-icon  (click)="logout()" slot="end" width="20" name="log-out-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content  >

  
  <ion-slides pager=" true">
    
    <ion-slide *ngFor="let slide of slides">
        <div>
            <h3> {{slide.titulo}}    </h3> <br>
            <ion-grid fixed>
              <ion-row>
                  <ion-col zise="10" offset="1">
                      <ion-button  (click)="redirecTo()" color="secondary" expand="full" shape="round">
                            Descargar info
                      </ion-button>
                  </ion-col>
              </ion-row>
            </ion-grid>
        </div>
        <div class="slide-img-padding">
            <img src="slide.img" > 
            <h4>{{slide.valor}} </h4>
            <h5> {{slide.tiempo}}    </h5> 
        </div>
        </ion-slide >
  
    </ion-slides>


    <div class="colore">
          
          <ion-button (click)="marcar()" color="secondary" expand="full" > Marcar asistencia </ion-button>

 


      <!-- <ion-label> AGENDA </ion-label> -->
    <ion-segment>
        <ion-list>
        <ion-datetime  displayFormat="DDD. MMM DD. YY"></ion-datetime>
          </ion-list>
  
    </ion-segment>

  </div>
  

</ion-content>


