<ion-menu side="start" menuId="primerMenu" contentId="menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu de Opciones</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item  routerLink="/action-sheet">Inicio</ion-item>
        <ion-item routerLink="/toggle">Agenda</ion-item>
        <ion-item routerLink="/login">iniciar sesion</ion-item>
        <ion-item routerLink="/alert">alert</ion-item>
        <ion-item routerLink="/action-sheet">Menu Item</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
