<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Instagram</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row  *ngFor="let feed of feeds" >
      <ion-col size="12">
        <ion-item lines="full">
      
          <ion-avatar slot="start">
            <ion-img [src]="feed?.logo"></ion-img>
          </ion-avatar> 
          <ion-label>
            <!-- <strong>Santiago Diaz</strong> -->
            <strong>{{feed?.username}}</strong>
            <p>
              <!-- <ion-text>Hola</ion-text> -->
              <ion-text>{{feed?.location}}</ion-text>
            </p>
          </ion-label>
         
        
        </ion-item>
      </ion-col>
      <ion-img *ngIf="feed?.image"  class="post" src="{{feed?.src}} "  ></ion-img> 
     



       <!-- SECCION DE BOTONES -->
  <ion-item  lines="none">
    <!-- icono de corazon -->
    <ion-row >
      <ion-icon (click)="ContadorLikes()"  [class.like]="feed?.like"
      (click)="likeComment(feed)"
      [color]="feed?.like ? 'danger' : 'medium'" 
      [name]="feed?.like ? 'heart' : 'heart-outline'"
      >
              </ion-icon>
    </ion-row> 
    

  

    <!-- icono de comentario -->
      <ion-button class="iconsStart" slot="start" fill="clear">
        <ion-icon slot="icon-only" name="chatbubble-outline" color="dark"></ion-icon>
      </ion-button>

      <!-- icono de enviar -->
      <ion-button class="iconsStart" slot="start" fill="clear">
        <ion-icon slot="icon-only" name="paper-plane-outline" color="dark"></ion-icon>
      </ion-button>
     </ion-item>   

     <ion-item-sliding  position="float " class="ion-padding">
      <strong    name="likes" color="dark" >{{likeValor}} Likes</strong>
     </ion-item-sliding>

     <!-- <ion-button (click)="handleLike()">{{LikeValue}}</ion-button> -->
     <!-- <ion-button (click)="handleDislike()">{{DislikeValue}}</ion-button> -->

     <ion-text  color="ion-padding">
      <strong>{{feed?.username}}</strong> {{feed?.description}}
    </ion-text>




         <!-- LIKES --> 
 
         <ion-item>
          <ion-label position="float">Comentarios</ion-label>
          <!-- <ion-input (click)="mostrarComentarios()"></ion-input> -->
        </ion-item>

    </ion-row>
  </ion-grid>
</ion-content>

